@inherits LayoutComponentBase
@using CourierHub.Shared.Models
@using System.Security.Claims
@using CourierHub.Shared.Enums;
@using System.Web

@inject HttpClient Http
@inject AuthenticationStateProvider Provider
@inject NavigationManager Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <AuthorizeView Roles="NotAuthorized">
                <NotAuthorized>
                    <a class="nav-link btn btn-link" href="authentication/login">Log in</a>
                </NotAuthorized>
                <Authorized>
                    <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="Client, OfficeWorker, Courier">
                <a href="authentication/profile">Hello, @context.User.Identity?.Name</a>
                <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private void BeginLogOut() {
        Navigation.NavigateToLogout("authentication/logout");
    }

    private HttpResponseMessage? present;
    private bool isChecked = false;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (isChecked) { return; }

        var state = await Provider.GetAuthenticationStateAsync();
        SetRole(state.User, "NotAuthorized");

        var email = state.User.Claims.FirstOrDefault(c => c.Type == "email");
        if (email == null) { return; }
        isChecked = true;

        if (state.User.IsInRole("NotAuthorized")) {
            Console.WriteLine("NOT AUTHORIZED");
        } else {
            foreach (var claim in state.User.Claims) {
                Console.WriteLine(claim.Value);
            }
        }

        present = await Http.SendAsync(new HttpRequestMessage(HttpMethod.Head, new Uri($"{Http.BaseAddress}User/{email.Value}")));
        if (!present.IsSuccessStatusCode) {
            string username = state.User.Identity!.Name!;
            string[] credentials = username.Split(" ");
            Navigation.NavigateTo("/registrationForm/"+credentials[0]+"/"+credentials[1]+"/"+email.Value);
        } else {
            // set role
            var userDB = await Http.GetFromJsonAsync<Client?>(new Uri($"{Http.BaseAddress}User?email={email.Value}"));
            if (userDB == null) { return; }
            string role = ((UserType)Enum.Parse(typeof(UserType), userDB.Type.ToString())).ToString();
            SetRole(state.User, role);
            if (state.User.IsInRole("Client")) {
                Console.WriteLine("CLIENT!!!");
            } else {
                foreach (var claim in state.User.Claims) {
                    Console.WriteLine(claim.Value);
                }
            }
        }
    }

    private void SetRole(ClaimsPrincipal user, string roleName) {
        var indentity = user.Identities.FirstOrDefault();
        if (indentity == null) {
            user = new ClaimsPrincipal(new ClaimsIdentity(new[] { new Claim(ClaimTypes.Role, roleName) }, "Roles"));
        } else {
            indentity.AddClaim(new Claim(ClaimTypes.Role, roleName));
        }
    }
}