@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <NotAuthorized>
                    <a href="authentication/login">Log in</a>
                </NotAuthorized>
                <Authorized>
                    Hello, @context.User.Identity.Name (@context.User.Claims.FirstOrDefault(c => c.Type=="email")?.Value)
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
