@using CourierHub.Shared.Data

@inject RoleContainer Role

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CourierHub</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3" style="white-space:nowrap" hidden="@(!Role.Roles["Client"])">
            <NavLink class="nav-link" href="/history/inquires" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Historia zapytań
            </NavLink>
        </div>
        <div class="nav-item px-3" style="white-space:nowrap" hidden="@(!Role.Roles["Client"])">
            <NavLink class="nav-link" href="/history/orders" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Historia zamówień
            </NavLink>
        </div>
        <div class="nav-item px-3" style="white-space:nowrap" hidden="@(!Role.Roles["Client"] && !Role.Roles["NotAuthorized"])">
            <NavLink class="nav-link" href="inquireForm">
                <span class="oi oi-plus" aria-hidden="true"></span> Zamów wysyłkę
            </NavLink>
        </div>
        <div class="nav-item px-3" style="white-space:nowrap" hidden="@(!Role.Roles["OfficeWorker"])">
            <NavLink class="nav-link" href="OfficeWorker/Orders">
                <span class="oi oi-plus" aria-hidden="true"></span> Przegląd ofert
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void RefreshMe()
    {
        StateHasChanged();
    }
}
