@page "/offerList"

@using CourierHub.Shared.ApiModels
@using CourierHub.Shared.Data

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider Provider
@inject OfferContainer UserOffers

<h1>Lista dostępnych ofert</h1>

<table class="table">
    <thead>
        <tr>
            <th>Serwis</th>
            <th>Kod</th>
            <th>Cena</th>
            <th>Data ważności</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in UserOffers.Offers)
        {
            <tr>
                <td style="white-space:nowrap">@item.ServiceName</td>
                <td style="white-space:nowrap">@item.Code</td>
                <td style="white-space:nowrap">@item.Price</td>
                <td style="white-space:nowrap">@item.ExpirationDate</td>
                <td style="white-space:nowrap">
                    <button class="btn btn-primary" @onclick="() => Choose(item)">Wybierz</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private async void Choose(ApiOffer offer)
    {
        var context = await Provider.GetAuthenticationStateAsync();
        var email = context.User.Claims.FirstOrDefault(c => c.Type == "email");
        string mail = "";
        if (email != null)
        {
            mail = email.Value;
        }
        UserOffers.Offers.Clear();
        UserOffers.Offers.Add(offer);
        NavigationManager.NavigateTo($"/offerSubmitForm/{mail}");
    }
}