@page "/order/status/{orderCode}"

@using CourierHub.Shared.ApiModels
@using CourierHub.Shared.Enums

@inject HttpClient Http
@inject AuthenticationStateProvider Provider

<h1>Status zamówienia</h1>

<table class="table">
    <thead>
        <tr>
            <th>Kod</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="white-space:nowrap">@orderCode</td>
            <td style="white-space:nowrap">@statusName</td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col">
        <button class="btn btn-primary" @onclick="() => Cancel()">Odwołaj zamówienie</button>
    </div>
    <div class="col">
        <button class="btn btn-primary">Oceń serwis</button>
    </div>
</div>

@code {
    [Parameter]
    public string? orderCode { get; set; }
    private string? statusName;

    protected async override Task OnInitializedAsync()
    {
        StatusType statusType;
        var x = await Http.GetAsync($"{Http.BaseAddress}Order/{orderCode}/status");
        Console.WriteLine(x.StatusCode + " GET ORDERS STATUS");
        if (x.IsSuccessStatusCode)
        {
            var c = await x.Content.ReadFromJsonAsync<StatusType>();
            if (c > 0)
            {
                statusType = c;
                int type = (int)statusType;
                StatusTypePL statusTypePL = (StatusTypePL)Enum.ToObject(typeof(StatusTypePL), type);
                statusName = Enum.GetName(typeof(StatusTypePL), statusTypePL);
                statusName = statusName?.Replace('_', ' ');
            }
            else
            {
                Console.WriteLine("BAD DESERIALIZATION");
            }
        }
        else
        {
            Console.WriteLine("FAIL");
        }
    }

    private async void Cancel()
    {

    }
}
