@page "/order/status/{orderCode}"

@using CourierHub.Shared.ApiModels
@using CourierHub.Shared.Enums
@using Radzen.Blazor

@inject HttpClient Http
@inject AuthenticationStateProvider Provider

<h1>Status zamówienia</h1>

<table class="table">
    <thead>
        <tr>
            <th>Serwis</th>
            <th>Kod</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="white-space:nowrap">@service</td>
            <td style="white-space:nowrap">@orderCode</td>
            <td style="white-space:nowrap">@statusName</td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col" style="text-align: center;">
        <button class="btn btn-primary" @onclick="() => Cancel()">Odwołaj zamówienie</button>
    </div>
    <div class="col" style="text-align: center;">
        <button class="btn btn-primary">Oceń serwis</button>
    </div>
</div>

<div style="text-align: center; padding-top: 20px;">
    <textarea id="reviewTextArea" rows="4" cols="50" placeholder="Napisz swoją recenzję..."></textarea>

    <br />
        <div class="rz-p-12 rz-text-align-center">
            <RadzenRating @bind-Value=@rating />
        </div>
    <br />

    <button class="btn btn-primary">Zatwierdź ocenę</button>
</div>

@code {
    int value = 33;
}

@code {
    [Parameter]
    public string? orderCode { get; set; }
    private string? statusName;
    private string? service;
    private bool[] isGold = new bool[5];
    private int rating = 0;

    protected async override Task OnInitializedAsync()
    {
        StatusType statusType;
        var x = await Http.GetAsync($"{Http.BaseAddress}Order/{orderCode}/status");
        Console.WriteLine(x.StatusCode + " GET ORDERS STATUS");
        var y = await Http.GetAsync($"{Http.BaseAddress}Order/{orderCode}/srvice");
        Console.WriteLine(x.StatusCode + " GET ORDERS SERVICE");
        if (x.IsSuccessStatusCode)
        {
            var c = await x.Content.ReadFromJsonAsync<StatusType>();
            var s = await y.Content.ReadAsStringAsync();
            if (c > 0 && s != null)
            {
                int startIndex = s.IndexOf("<title>") + "<title>".Length;
                int endIndex = s.IndexOf("</title>", startIndex);
                if (startIndex >= 0 && endIndex > startIndex)
                {
                    s = s.Substring(startIndex, endIndex - startIndex);
                }

                service = s;
                statusType = c;
                int type = (int)statusType;
                StatusTypePL statusTypePL = (StatusTypePL)Enum.ToObject(typeof(StatusTypePL), type);
                statusName = Enum.GetName(typeof(StatusTypePL), statusTypePL);
                statusName = statusName?.Replace('_', ' ');
            }
            else
            {
                Console.WriteLine("BAD DESERIALIZATION");
            }
        }
        else
        {
            Console.WriteLine("FAIL");
        }
    }

    private async void Cancel()
    {
        // cancel from api controller
    }
}
